{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
<link href="{% static 'css/stuff2.css' %}" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center">
                    <h4 class="mb-0">Join CS Fishbowl Tutoring</h4>
                    <small>Create your TA account</small>
                </div>
                <div class="card-body p-4">
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'logout' not in message.tags %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="id_username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="id_username" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" id="id_email" required>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="id_first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" id="id_first_name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_last_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" id="id_last_name" required>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="id_password1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password1" id="id_password1" required>
                            </div>
                            <div class="col-md-6">
                                <label for="id_password2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" name="password2" id="id_password2" required>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Days Available for Tutoring</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="1" id="day_monday"></input>
                                        <label class="form-check-label" for="day_monday">Monday</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="2" id="day_tuesday"></input>
                                        <label class="form-check-label" for="day_tuesday">Tuesday</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="3" id="day_wednesday"></input>
                                        <label class="form-check-label" for="day_wednesday">Wednesday</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="4" id="day_thursday"></input>
                                        <label class="form-check-label" for="day_thursday">Thursday</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="5" id="day_friday">
                                        <label class="form-check-label" for="day_friday">Friday</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="6" id="day_saturday">
                                        <label class="form-check-label" for="day_saturday">Saturday</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="days_tutor_for" value="7" id="day_sunday">
                                        <label class="form-check-label" for="day_sunday">Sunday</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-4">
                            <label class="form-label">Classes You Can Tutor</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="classes_tutor_for" value="CSCI150" id="class_150">
                                        <label class="form-check-label" for="class_150">CSCI150</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="classes_tutor_for" value="CSCI151" id="class_151">
                                        <label class="form-check-label" for="class_151">CSCI151</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="classes_tutor_for" value="CSCI152" id="class_152">
                                        <label class="form-check-label" for="class_152">CSCI152</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="classes_tutor_for" value="CSCI258" id="class_258">
                                        <label class="form-check-label" for="class_258">CSCI258</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="classes_tutor_for" value="CSCI340" id="class_340">
                                        <label class="form-check-label" for="class_340">CSCI340</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="classes_tutor_for" value="CSCI447" id="class_447">
                                        <label class="form-check-label" for="class_447">CSCI447</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Hours -->
                        <div class="mb-4">
                            <label class="form-label">Classes You Can Tutor</label>
                        </div>


                        <div class="container border rounded-2">
                        <div class="row">
                        <div id = "dropdown1_mon" class = "container d-none col-3">
                        <div id="list1" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Monday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_mon" value = "17" />5-6pm </li>

                        </ul>
                        </div>
                        </div>


                        <div id = "dropdown1_tue" class = "container d-none col-3">
                        <div id="list2" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Tuesday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_tue" value = "17" />5-6pm </li>
                        </ul>
                        </div>
                        </div>

                        


                        <div id = "dropdown1_wed" class = "container d-none col-3">
                        <div id="list3" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Wednesday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_wed" value = "17" />5-6pm </li>
                        </ul>
                        </div>
                        </div>


                        <div id = "dropdown1_thr" class = "container d-none col-3">
                        <div id="list4" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Thursday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_thr" value = "17" />5-6pm </li>
                        </ul>
                        </div>
                        </div>

                        <div id = "dropdown1_fri" class = "container d-none col-3">
                        <div id="list5" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Friday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_fri" value = "17" />5-6pm </li>
                        </ul>
                        </div>
                        </div>

                        <div id = "dropdown1_sat" class = "container d-none col-3">
                        <div id="list6" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Saturday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sat" value = "17" />5-6pm </li>
                        </ul>
                        </div>
                        </div>

                        <div id = "dropdown1_sun" class = "container d-none col-3">
                        <div id="list7" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Sunday</span>
                        <ul class="items">
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "7" />7-8am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "8" />8-9am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "9" />8-10am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "10" />10-11am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "11" />11-12am </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "12" />12-1pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "13" />1-2pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "14" />2-3pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "15" />3-4pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "16" />4-5pm </li>
                            <li><input class = "form-check-input" type="checkbox" name="hours_tutor_for_sun" value = "17" />5-6pm </li>
                        </ul>
                        </div>
                        </div>
                            

                        </div>
                        </div>
                        <br>
                        <!-- end of hours -->

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                        </div>
                </form>
                    
                    <div class="text-center mt-4">
                        <small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Sign in here</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/stuff.js' %}"></script>
</body>
{% endblock content %}